body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}

/*--- navigation bar ---*/

.navbar {
  background:#573898;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  margin-right:lem !important;
}

.nav-link:hover {
  color: #000;
}

.navbar-collapse {
  justify-content: flex-end;
}

.header {
  background-image: url('images/volunteer1.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%; 
  left: 0;
  top: 0;
  background:rgba(0,0,0,0.6);
}

table{
  table-layout: fixed;
  width: 100%;
  background-color: #B696F1;
  border-collapse: collapse;
  border: 3px solid black;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
}

.description {
  left: 50%;
  position: absolute; 
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: left;
}

.description a{
  color: hotpink;
}

.description ul {
  list-style-type: none;
  padding: 20; 
  margin: 0; 
  font-size: 1.2rem;
}

.description h1{
  color: #0df8cd;
}

.description h3{
  color: #0df8cd;
}

.description h4{
  color: #0df8cd;
}

.description p{
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}

.description blockquote{
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}

.description form {
  color: #fff;
}

.description button {
  border: 1px solid #0df8cd;
  background: #0df8cd;
  border-radius: 0;
  color: #fff;
}

.description button:hover {
  border:1p solid #fff;
  background:#fff;
  color:#000;
}

.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}

.feature-title {
  color:#333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.feature-titlesm {
  color:#ED055A;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 10p;
}

.features img{
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  -moz-box-shadow: 1px 1px 4px rgbba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4 px rgba(0, 0m 0, 0.4);
  margin-bottom: 16px;
}

.features .form{
  color: #333;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 10p;
}

.features .form-control,
.features input {
  border-radius: 0;
}

.features .btn {
  background-color: #573898;
  border: 1p solid #573898;
  color: #fff;
  margin-top: 20px;
}

.features .btn:hover {
  background-color: #333;
  border: 1px solid #333;
}

.page-footer{
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30 px;
}

.footer-copyright {
  color: #666;
  padding: 40px 0;
}

@media (max-width: 575.98px) {
  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
    text-align: center;
  }
  
  .description h1 {
    font-size: 2em;
  }
  
  .description p {
    font-size: 1.2rem;
  }
  
  .features {
    margin: 0;
  }
}